@import "mocha.css";

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @yellow;
    }
}

@keyframes blink-critical {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @red;
    }
}

/* Reset all styles */
* {
    border: none;
    border-radius: 4px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: @base;
    color: @text;
    font-family: "Font Awesome", "Ubuntu";
    font-size: 14px;
}

#window {
    margin-left: 10px;
}

window#waybar {
    margin-left: 10px;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    /* To compensate for the top border and still have vertical centering */
    padding: 0 0.5em;
    margin: 4px 3px;
    color: @overlay0;
}

#workspaces button.focused {
    border-color: @surface0;
    color: @text;
    background-color: @surface0;
}

#workspaces button.urgent {
    border-color: @overlay2;
    color: @overlay0;
    background-color: @red;
}

#mode {
    background: @base;
}

#clock,
#custom-playerctl,
#custom-power,
#custom-weather,
#custom-weather2,
#custom-clipboard,
#custom-menu,
#battery,
#cpu,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px 3px;
}

#clock {
    background: @surface0;
    color: @text;
}

#custom-weather {
    background: @surface0;
    color: @text;
}

#custom-weather2 {
    background: @surface0;
    color: @text;
}

#custom-playerctl {
    background: @surface0;
    color: @text;
}

#custom-power {
    background: @surface0;
    color: @text;
}

#custom-clipboard {
    background: @surface0;
    color: @text;
}

#custom-menu {
    background: @surface0;
    color: @text;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: @surface0;
    color: @text;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background: @surface0;
    color: @text;
}

#language {
    background: @surface0;
    color: @text;
}

#memory {
    background: @surface0;
    color: @text;
}

#custom-gpu-usage {
    background: @surface0;
    color: @text;
}

#network {
    background: @surface0;
    color: @text;
}

#network.disconnected {
    background: @base;
    color: @text
}

#pulseaudio {
    background: @surface0;
    color: @text;
}

#pulseaudio.muted {
    background: @base;
    color: @text;
}

#custom-wf-recorder {
    color: @red;
    padding-right: 10px;
}

#tray {
    padding-left: 10px;
    padding-right: 10px;
}

#idle_inhibitor {
    background: @surface0;
    color: @overlay0;
}

#idle_inhibitor.activated {
    background: @surface0;
    color: @text;
}
